{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%}Cambia password{% endblock title %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-8 text-center">
      <h1>Desideri cambiare la password??</h1>
    </div>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-4 text-center">
      <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-info text-white my-2" value="CAMBIA PASSWORD">
      </form>
    </div>
  </div>


{% endblock content %}
