{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%}Cambia password{% endblock title %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-8 text-center">
      <h1>Password dimenticata?? Niente paura!</h1>
      <p class="my-3">Indicaci la mail dove inviare le istruzioni per il recupero</p>
    </div>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-4 text-center">
      <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-info text-white my-2" value="RECUPERA PASSWORD">
                <input type="hidden" name="reset-password" value="{% url 'password_reset_done' %}">
      </form>
    </div>
  </div>


{% endblock content %}
