{% extends 'base.html' %}


{% block title %}{{block.super}}{{discussione.titolo}}{% endblock title %}

{% block content %}

<div class="row justify-content-center" xmlns="http://www.w3.org/1999/html">
    <div class="col-8">
      <div class="card border border-dark">
        <div class="card-header text-center text-white color">{{discussione.titolo}}</div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <p class="card-text my-0">Autore discussione : <strong><a class="link-info" href="{% url 'user_profile' username=discussione.autore.username %}">{{discussione.autore}}</a></strong></p>
              <p class="card-text mb-1"><small>Data creazione : {{discussione.data|date:"d/m/Y"}}</small></p>
            </div>
            <div class="col-8">
              <p class="card-text">{{discussione.primo_post}}</p>
            </div>
          </div>
          <div class="row color">
            <p></p>
          </div>
          {% for post in posts %}

          {% endfor %}
        </div>
        <div class="card-footer color"></div>
      </div>
    </div>
  </div>

{% endblock content %}