{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}{{block.super}}Registrazione Utente{% endblock title %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <h3 class="my-3">Nuovo utente?? Registrati subito!</h3>
            <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-info text-white my-2" value="REGISTRATI!">
            </form>
        </div>
    </div>

{% endblock content %}